---
import PostPreview from './post-preview.astro';

const posts = await Astro.glob('../pages/posts/*.md');
---

<div class="post-list flex flex-col gap-y-16 py-5">
  {
    posts.map((post) => (
      <PostPreview
        url={post.url}
        desc={post.frontmatter.desc}
        title={post.frontmatter.title}
        tags={post.frontmatter.tags}
        date={post.frontmatter.pubDate.slice(0, 10)}
      />
    ))
  }
</div>
